*.sh text eol=lf
packaging/fnos/cmd/* text eol=lf
packaging/fnos/manifest text eol=lf
packaging/fnos/config/* text eol=lf
packaging/fnos/wizard/* text eol=lf
packaging/fnos/app/ui/config text eol=lf
scripts/*.mjs text eol=lf
src/**/*.js text eol=lf
src/**/*.css text eol=lf
src/**/*.html text eol=lf
*.md text eol=lf
*.json text eol=lf

